{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        {% include "messages.html" %}
        <div class="columns">
            <div class="column is-two-thirds is-offset-2 has-text-centered">
                <nav class="panel is-primary">
                    <p class="panel-heading">
                        Menu
                    </p>
                    <a class="panel-block is-active" href="{{url_for('student_admin.list_users')}}">
                        <span class="panel-icon">
                          <i class="fa-solid fa-chevron-right"></i>
                        </span>
                        <span class="is-size-4">
                            อนุมัติผู้ใช้ระบบ
                        </span>
                    </a>
                    <a class="panel-block is-active" href="{{url_for('student_admin.edit_address')}}">
                        <span class="panel-icon">
                          <i class="fa-solid fa-chevron-right"></i>
                        </span>
                        <span class="is-size-4">
                            เพิ่ม/แก้ไขที่อยู่
                        </span>
                    </a>
                    <a class="panel-block is-active" href="{{url_for('services.physical_exam_profile_main')}}">
                        <span class="panel-icon">
                          <i class="fa-solid fa-chevron-right"></i>
                        </span>
                        <span class="is-size-4">
                            เพิ่ม/แก้ไขเชื้อปรสิต
                        </span>
                    </a>
                    <a class="panel-block is-active" href="{{url_for('services.health_record_main')}}">
                        <span class="panel-icon">
                          <i class="fa-solid fa-chevron-right"></i>
                        </span>
                        <span class="is-size-4">
                            เพิ่ม/แก้ไขโรคประจำตัว
                        </span>
                    </a>
                    <a class="panel-block is-active" href="{{url_for('services.stool_exam_main')}}">
                        <span class="panel-icon">
                          <i class="fa-solid fa-chevron-right"></i>
                        </span>
                        <span class="is-size-4">
                            เพิ่ม/แก้ไข โรคประจำครอบครัว
                        </span>
                    </a>
                </nav>
                <div class="buttons is-centered">
                    <a class="button is-danger" href="{{url_for('services.index')}}">
                        Back
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
