{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="{{url_for('services.index', project_id=project_id)}}">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">Clients</a></li>
          </ul>
        </nav>
        <h1 class="title has-text-centered">All Clients</h1>
        <div class="buttons is-centered">
          <a href="{{url_for('services.register_client', project_id=project_id)}}" class="button is-link">
            <span class="icon">
              <i class="fa-solid fa-user-plus"></i>
            </span>
            <span>Add Client</span>
          </a>
        </div>
        <table id="clientTable" class="table is-striped is-fullwidth">
          <thead>
          <th>Client Number</th>
          <th>Name</th>
          <th>Age</th>
          <th>PID</th>
          <th>Address</th>
          <th></th>
          </thead>
          <tbody>
            {% for c in clients %}
            <tr>
              <td>{{c.client_number}}</td>
              <td>{{c.fullname}}</td>
              <td>{{c.age_}}</td>
              <td>{{c.pid}}</td>
              <td>{{c.address}}</td>
              <td>
                <a class="button is-light is-small" href="{{url_for('services.client_profile', client_id=c.id)}}">
                  <span class="icon">
                    <i class="fa-solid fa-user"></i>
                  </span>
                  <span>profile</span>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  $('document').ready(()=>{
    $('#clientTable').DataTable();
  })
</script>
{% endblock %}