{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title has-text-centered">Profile</h1>
        <table class="table is-fullwidth">
          <tr>
            <td>Client Number</td><td>{{client.client_number}}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{client.firstname}} {{client.lastname}}</td>
          </tr>
          <tr>
            <td>PID</td>
            <td>{{client.pid}}</td>
          </tr>
          <tr>
            <td>Date of birth</td>
            <td>{{client.dob}}
          </tr>
          <tr>
            <td>Gender</td>
            <td>{{client.gender}}
          </tr>
          <tr>
            <td>Last update</td>
            <td>{{client.updated_at|localdatetime}}
          </tr>
        </table>
        <div class="buttons is-centered">
          <a href="{{url_for('services.edit_client', client_id=client.id)}}" class="button is-primary">Edit</a>
        </div>
        <div class="tabs is-boxed">
          <ul>
            <li class="{% if tab == 'stool' %}is-active{% endif %}">
              <a href="{{url_for('services.client_profile', client_id=client.id)}}">
                <span class="icon is-small">
                  <i class="fa-solid fa-toilet"></i>
                </span>
                <span>Stool Exam</span>
              </a>
            </li>
            <li class="{% if tab == 'others' %}is-active {% endif %}">
              <a href="{{url_for('services.client_profile', client_id=client.id, tab='others')}}">
                <span class="icon is-small">
                  <i class="fa-solid fa-vial"></i>
                </span>
                <span>Others</span>
              </a>
            </li>
          </ul>
        </div>
        <!--TODO: added collection datetime -->
        {% if tab == 'stool' %}
        <table class="table is-striped">
          <thead>
          <th>Lab Number</th>
          <th>Results</th>
          <th>Note</th>
          <th>Registered At</th>
          <th>Reported At</th>
          <th></th>
          </thead>
          <tbody>
            {% for stool_record in client.stool_exam_records %}
            <tr>
              <td>{{ stool_record.lab_number }}</td>
              <td>{{ stool_record.results|itemize|safe }}</td>
              <td>{{ stool_record.note }}</td>
              <td>{{ stool_record.updated_at|localdatetime }}</td>
              <td>{{ stool_record.reported_at|localdatetime or 'Unfinished' }}</td>
              <td>
                <a class="button" href="{{url_for('services.edit_stool_exam_record', record_id=stool_record.id, next=request.url)}}">
                  edit
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="box">
          <h1 class="title">Register Stool Examination</h1>
          <form method="get" action="{{url_for('services.stool_exam_main', client_id=client.id, next=request.url)}}">
            <div class="field">
              <input class="input" name="lab_number">
            </div>
            <div class="field">
              <input type="submit" value="Submit" class="button is-primary">
            </div>
          </form>
        </div>
        {% else %}
        <table class="table is-striped">
          <thead>
          <th>Test</th>
          <th>Record ID</th>
          <th>Result</th>
          <th>Note</th>
          <th>Reported At</th>
          </thead>
          <tbody>
          {% for test_record in client.test_records %}
          <tr>
            <td>{{test_record.test.name}}</td>
            <td>{{test_record.id}}</td>
            <td>{{test_record.value}} {{test_record.test.unit}}</td>
            <td>{{test_record.note}}</td>
            <td>{{test_record.updated_at|localdatetime}}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
        <div class="buttons is-centered">
          <a href="{{url_for('services.index')}}" class="button is-light">Home</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}