{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title has-text-centered">Client Registration</h1>
        <form method="get">
          <div class="field">
            <div class="control">
              <input name="pid" class="input is-medium" placeholder="Personal Identification Number">
            </div>
          </div>
          <div class="field">
            <div class="buttons is-centered">
              <input type="submit" value="Search" class="button is-primary">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <form method="post">
          <div class="box">
          {{ form.hidden_tag() }}
          <div class="field">
            <label class="label">{{form.firstname.label}}</label>
            <div class="control">
              {{ form.firstname(class="input") }}
            </div>
          </div>
          <div class="field">
            <label class="label">{{form.lastname.label}}</label>
            <div class="control">
              {{ form.lastname(class="input") }}
            </div>
          </div>
          <div class="field">
            <label class="label">{{form.dob.label}}</label>
            <div class="control">
              {{ form.dob(class="input") }}
            </div>
          </div>
          <div class="field">
            <label class="label">{{form.pid.label}}</label>
            <div class="control">
              {{ form.pid(class="input") }}
            </div>
          </div>
          <div class="field">
            <label class="label">{{form.client_number.label}}</label>
            <div class="control">
              {{ form.client_number(class="input") }}
            </div>
          </div>
          </div>
          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <a class="button is-light" href="{{ url_for('services.index') }}">Cancel</a>
            </div>
            <div class="control">
              <input class="button is-primary" type="submit" value="Submit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}