{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{url_for('services.index')}}">Home</a></li>
        <li><a href="{{url_for('services.list_clients')}}">Clients</a></li>
        <li class="is-active"><a href="#" aria-current="page">Client Edit</a></li>
      </ul>
    </nav>
    {% include "messages.html" %}
    <div class="columns">
      <div class="column is-two-thirds is-offset-2">
        <h1 class="title has-text-centered">Client Registration/Edit</h1>
        {% if not client %}
        <form method="get">
          <div class="field">
            <div class="control">
              <input name="pid" class="input is-medium" placeholder="Personal Identification Number">
            </div>
          </div>
          <div class="field">
            <div class="buttons is-centered">
              <input type="submit" value="Search" class="button is-primary">
            </div>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
    <div class="columns">
      <div class="column {% if not client %}is-two-thirds is-offset-2{% endif %}">
        <form method="post">
          <div class="box">
          {{ form.hidden_tag() }}
          <div class="field">
            <label class="label">{{form.firstname.label}}</label>
            <div class="control">
              {{ form.firstname(class="input") }}
            </div>
          </div>
          <div class="field">
            <label class="label">{{form.lastname.label}}</label>
            <div class="control">
              {{ form.lastname(class="input") }}
            </div>
          </div>
            <div class="field">
              <label class="label">{{form.gender.label}}</label>
              <div class="control">
                {{ form.gender() }}
              </div>
            </div>
          <div class="field">
            <label class="label">คำนวณปีค.ศ.จากพ.ศ.</label>
            <div class="control" x-data="{year: new Date().getFullYear() + 543}">
              <input name="buddhistYear"
                     x-model="year"
                     x-on:keyUp="setCalendarDate(year - 543)"
                     placeholder="คำนวณปีค.ศ.จากพ.ศ." class="input">
              ปีค.ศ. <span x-text="year - 543"></span>
            </div>
          </div>
          <div class="field">
            <label class="label">{{form.dob.label}}</label>
            <div class="control">
              {{ form.dob(class="input", type="text") }}
            </div>
          </div>
            <div class="field">
              <label class="label">{{form.age_.label}}</label>
              <div class="control">
                {{ form.age_(class="input") }}
              </div>
            </div>
          <div class="field">
            <label class="label">{{form.pid.label}}</label>
            <div class="control">
              {{ form.pid(class="input") }}
            </div>
          </div>
          <div class="field">
            <div class="select">
              {{form.address()}}
            </div>
          </div>
          <div class="field">
            <label class="label">{{form.client_number.label}}</label>
            <div class="control">
              {{ form.client_number(class="input") }}
            </div>
          </div>
          </div>
          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <a class="button is-light" href="{{ url_for('services.index') }}">Back</a>
            </div>
            <div class="control">
              <input class="button is-primary" type="submit" value="Submit">
            </div>
          </div>
        </form>
      </div>
      {% if client %}
      <div class="column">
        <div class="box">
          <h1 class="title">Register Stool Examination</h1>
          <form method="get" action="{{url_for('services.stool_exam_main')}}">
            <input type="hidden" name="client_id" value="{{client.id}}">
            <input type="hidden" name="next" value="{{url_for('services.register_client')}}">
            <div class="field">
              <input class="input" name="lab_number">
            </div>
            <div class="field">
              <label class="label">Collected At</label>
              <div class="control">
                                <input type="text" class="input" id="collectionDatetime" name="collection_datetime">
                                </div>
            </div>
            <div class="field">
              <input type="submit" value="Register" class="button is-warning">
            </div>
          </form>
        </div>
        <div class="box">
          <label class="label">
            Stool Exam History
          </label>
          <table class="table is-striped is-bordered">
            <th>Lab Number</th>
            <th>Received At</th>
            <th>Collected At</th>
            {% for rec in client.stool_exam_records %}
            <tr>
              <td>{{rec.lab_number}}</td>
              <td>{{rec.updated_at|localdatetime}}</td>
              <td>{{rec.collection_datetime|localdatetime}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      {% endif %}
    </div>
    {% if client and client.health_records.count() == 0 %}
    <div class="columns">
      <div class="column">
          <h1 class="title has-text-centered">Health Record Form</h1>
          <div class="box">
            <form method="post" action="{{url_for('services.add_health_record', client_id=client.id, next=request.url)}}">
              {{health_form.hidden_tag()}}
              <div class="field">
                <label class="label">{{health_form.fasting_time.label}}</label>
                <div class="control">
                  {{health_form.fasting_time(class="input")}}
                </div>
              </div>
              <div class="field">
                <label class="label">{{health_form.underlying_diseases.label}}</label>
                <div class="control">
                  {{health_form.underlying_diseases()}}
                </div>
              </div>
              <div class="field">
                <label class="label">{{health_form.other_underlying_disease.label}}</label>
                <div class="control">
                  {{health_form.other_underlying_disease(class="input")}}
                </div>
              </div>
              <div class="field">
                <label class="label">{{health_form.family_diseases.label}}</label>
                <div class="control">
                  {{health_form.family_diseases()}}
                </div>
              </div>
              <div class="field">
                <label class="label">{{health_form.other_family_disease.label}}</label>
                <div class="control">
                  {{health_form.other_family_disease(class="input")}}
                </div>
              </div>
              <div class="field">
                <label class="label">{{health_form.suggestion.label}}</label>
                <div class="control">
                  {{health_form.suggestion(class="textarea")}}
                </div>
              </div>
              <div class="field is-grouped is-grouped-centered">
                <a href="{{url_for('services.health_record_main')}}" class="button is-light">Back</a>
                <input type="submit" value="Submit" class="button is-primary">
              </div>
            </form>
          </div>
      </div>
    </div>
    {% elif client and client.health_records.count() > 0 %}
    <div class="box">
      <label class="label">ประวัติสุขภาพ</label>
      <table class="table is-striped">
        <thead>
        <th>ID</th>
        <th>Updated At</th>
        <th>By</th>
        <th></th>
        </thead>
        {% for rec in client.health_records %}
        <tr>
          <td>{{rec.id}}</td>
          <td>{{rec.updated_at|localdatetime}}</td>
          <td>{{rec.updated_by.firstname}}</td>
          <td>
            <a class="button is-light" href="{{url_for('services.add_health_record', record_id=rec.id, client_id=client.id, next=request.url)}}">
                <span class="icon">
                  <i class="fa-solid fa-pencil"></i>
                </span>
              <span>edit</span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="//unpkg.com/alpinejs" defer></script>
<script>
  $('#dob').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    autoUpdateInput: true,
    locale: {
      format: 'YYYY-MM-DD'
    }
  });
</script>
<script>
  $('#collectionDatetime').daterangepicker({
    singleDatePicker: true,
    timePicker: true,
    showDropdowns: true,
    timePickerIncrement: 15,
    timePicker24Hour: true,
    autoUpdateInput: true,
    locale: {
      format: 'YYYY-MM-DD HH:mm:ss'
    }
  });
  let setCalendarDate = function (year) {
    if (year > 1960) {
      $('#dob').data('daterangepicker').setStartDate(year + '-01-01')
      $('#dob').data('daterangepicker').setEndDate(year + '-01-01')
    }
  }
</script>
{% endblock %}