{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    {% include "messages.html" %}
    <div class="columns">
      <div class="column is-two-thirds is-offset-2">
        <h1 class="title has-text-centered">Client Registration/Edit</h1>
        {% if not client %}
        <form method="get">
          <div class="field">
            <div class="control">
              <input name="pid" class="input is-medium" placeholder="Personal Identification Number">
            </div>
          </div>
          <div class="field">
            <div class="buttons is-centered">
              <input type="submit" value="Search" class="button is-primary">
            </div>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
    <div class="columns">
      <div class="column {% if not client %}is-two-thirds is-offset-2{% endif %}">
        <form method="post">
          <div class="box">
          {{ form.hidden_tag() }}
          <div class="field">
            <label class="label">{{form.firstname.label}}</label>
            <div class="control">
              {{ form.firstname(class="input") }}
            </div>
          </div>
          <div class="field">
            <label class="label">{{form.lastname.label}}</label>
            <div class="control">
              {{ form.lastname(class="input") }}
            </div>
          </div>
            <div class="field">
              <label class="label">{{form.gender.label}}</label>
              <div class="control">
                {{ form.gender() }}
              </div>
            </div>
          <div class="field">
            <label class="label">{{form.dob.label}}</label>
            <div class="control">
              {{ form.dob(class="input", type="text") }}
            </div>
          </div>
          <div class="field">
            <label class="label">{{form.pid.label}}</label>
            <div class="control">
              {{ form.pid(class="input") }}
            </div>
          </div>
          <div class="field">
            <label class="label">{{form.client_number.label}}</label>
            <div class="control">
              {{ form.client_number(class="input") }}
            </div>
          </div>
          </div>
          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <a class="button is-light" href="{{ url_for('services.index') }}">Cancel</a>
            </div>
            <div class="control">
              <input class="button is-primary" type="submit" value="Submit">
            </div>
          </div>
        </form>
      </div>
      {% if client %}
      <div class="column">
          <div class="box">
            <h1 class="title">Register Stool Examination</h1>
            <form method="get" action="{{url_for('services.stool_exam_main')}}">
              <input type="hidden" name="client_id" value="{{client.id}}">
              <input type="hidden" name="next" value="{{url_for('services.register_client')}}">
              <div class="field">
                <input class="input" name="lab_number">
              </div>
              <div class="field">
                <label class="label">Collected At</label>
                <div class="control">
                  <input type="text" class="input" id="collectionDatetime" name="collection_datetime">
                </div>
              </div>
              <div class="field">
                <input type="submit" value="Register" class="button is-warning">
              </div>
            </form>
          </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
  $('#dob').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    locale: {
      format: 'YYYY-MM-DD'
    }
  });
</script>
<script>
  $('#collectionDatetime').daterangepicker({
    singleDatePicker: true,
    timePicker: true,
    showDropdowns: true,
    timePickerIncrement: 15,
    timePicker24Hour: true,
    locale: {
      format: 'YYYY-MM-DD HH:mm:ss'
    }
  });
</script>
{% endblock %}