{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{url_for('services.index')}}">Home</a></li>
        <li><a href="{{url_for('services.list_clients')}}">Clients</a></li>
        <li><a href="{{url_for('services.client_profile', client_id=client.id)}}">Profile</a></li>
        <li class="is-active"><a href="#" aria-current="page">Report</a></li>
      </ul>
    </nav>
    <div class="columns">
      <div class="column">
        {% include "messages.html" %}
        <h1 class="title has-text-centered">Client Report</h1>
        <table class="table is-fullwidth">
          <tr>
            <td>Client Number</td><td>{{client.client_number}}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{client.firstname}} {{client.lastname}}</td>
          </tr>
          <tr>
            <td>PID</td>
            <td>{{client.pid}}</td>
          </tr>
          <tr>
            <td>Date of birth</td>
            <td>{{client.dob}}
          </tr>
          <tr>
            <td>Age</td>
            <td>{{client.age}}</td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>{{client.gender}}</td>
          </tr>
          <tr>
            <td>Last update</td>
            <td>{{client.updated_at|localdatetime}}</td>
          </tr>
          <tr>
            <td>Physical Examination</td>
            <td>
              <table class="table is-striped is-bordered">
                {% for rec in client.physical_profiles %}
                <tr>
                  <td>ID</td>
                  <td>{{rec.id}}</td>
                </tr>
                <tr>
                  <td>Updated At</td>
                  <td>{{rec.updated_at|localdatetime}}</td>
                </tr>
                <tr>
                  <td>น้ำหนัก</td>
                  <td>{{rec.weight}} kg</td>
                </tr>
                <tr>
                  <td>ส่วนสูง</td>
                  <td>{{rec.height}} cm</td>
                </tr>
                <tr>
                  <td>BMI</td>
                  <td>{{rec.bmi}} ({{rec.get_bmi_interpretation()}})</td>
                </tr>
                <tr>
                  <td>ความดันโลหิต</td>
                  <td>{{rec.systolic}}/{{rec.diastolic}} mmHg</td>
                </tr>
                {% endfor %}
              </table>
            </td>
          </tr>
          <tr>
            <td>ประวัติสุขภาพ</td>
            <td>
              <table class="table is-striped is-bordered">
                {% for rec in client.health_records %}
                <tr>
                  <td>ID</td>
                  <td>{{rec.id}}</td>
                </tr>
                <tr>
                  <td>Updated At</td>
                  <td>{{rec.updated_at|localdatetime}}</td>
                </tr>
                <tr>
                  <td>การอดอาหาร</td>
                  <td>{{rec.fasting_datetime|localdatetime}}</td>
                </tr>
                <tr>
                  <td>โรคประจำตัว</td>
                  <td>{{rec.underlying_diseases|join(', ')}}</td>
                </tr>
                <tr>
                  <td>โรคประจำตัวอื่น ๆ</td>
                  <td>{{rec.other_underlying_disease}}</td>
                </tr>
                <tr>
                  <td>ประวัติครอบครัว</td>
                  <td>{{rec.family_diseases|join(', ')}}</td>
                </tr>
                <tr>
                  <td>ประวัติครอบครัวอื่น ๆ</td>
                  <td>{{rec.other_family_disease}}</td>
                </tr>
                {% endfor %}
              </table>
            </td>
          </tr>
          <tr>
            <td>Stool Examination</td>
            <td>
              <table class="table is-striped is-bordered">
                <thead>
                <th>ID</th>
                <th>Lab Number</th>
                <th>Results</th>
                <th>Note</th>
                <th>Registered At</th>
                <th>Reported At</th>
                </thead>
                <tbody>
                {% for stool_record in client.stool_exam_records %}
                <tr>
                  <td>{{ stool_record.id }}</td>
                  <td>{{ stool_record.lab_number }}</td>
                  <td>{{ stool_record.results|itemize|safe }}</td>
                  <td>{{ stool_record.note or '' }}</td>
                  <td>{{ stool_record.updated_at|localdatetime }}</td>
                  <td>{{ stool_record.reported_at|localdatetime or 'Unfinished' }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>Test Results</td>
            <td>
              <table class="table is-striped is-bordered">
                <thead>
                <th>Test</th>
                <th>Record ID</th>
                <th>Result</th>
                <th></th>
                <th>Note</th>
                <th>Reported At</th>
                </thead>
                <tbody>
                {% for test_record in client.test_records %}
                <tr>
                  <td>{{test_record.test.name}}</td>
                  <td>{{test_record.id}}</td>
                  <td>{{test_record.value}} {{test_record.test.unit}}</td>
                  <td>{{test_record.interpret}}</td>
                  <td>{{test_record.note}}</td>
                  <td>{{test_record.updated_at|localdatetime}}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </td>
          </tr>
        </table>
        <table class="table is-striped">
          <thead>
          <th>Record ID</th>
          <th>Reported At</th>
          </thead>
          <tbody>
          {% for health_record in client.health_records %}
          <tr>
            <td>{{health_record.id}}</td>
            <td>{{health_record.updated_at|localdatetime}}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <div class="buttons is-centered">
          <a href="{{url_for('services.index')}}" class="button is-light">Home</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
