{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    {% include "messages.html" %}
    <div class="columns">
      <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="{{url_for('services.index', project_id=record.client.project_id)}}">Home</a></li>
            <li><a href="{{url_for('services.stool_exam_main', project_id=record.client.project_id)}}" aria-current="page">Stool Exam Main</a></li>
            <li class="is-active"><a href="#" aria-current="page">Stool Examination Form</a></li>
          </ul>
        </nav>
        <h1 class="title has-text-centered">New/Edit Record</h1>
        <div class="box">
          <label class="label">Name</label>{{record.client.fullname}}
          <a href="{{url_for('services.client_profile', client_id=record.client.id)}}">See profile</a>
          <label class="label">Client Number</label>{{record.client.client_number}}
        </div>
        <form method="post">
          <div class="box">
            {{form.hidden_tag()}}
            <div class="field">
              <label class="label">{{form.lab_number.label}}</label>
              <div class="control">
                {{form.lab_number(class="input", readonly=True)}}
              </div>
            </div>
            <div class="field">
              <label class="label">{{form.collection_datetime.label}}</label>
              <div class="control">
                {{form.collection_datetime(class="input")}}
              </div>
            </div>
            <div class="field">
              <label class="label">{{form.color.label}}</label>
              <div class="select">
                {{form.color()}}
              </div>
            </div>
            <div class="field">
              <label class="label">{{form.form.label}}</label>
              <div class="select">
                {{form.form()}}
              </div>
            </div>
            <div class="field">
              <label class="label">{{form.occult_blood.label}}</label>
              <div class="select">
                {{form.occult_blood()}}
              </div>
            </div>
            <div class="field">
              <label class="label">{{form.method.label}}</label>
                {{form.method()}}
            </div>
            <div class="field">
              <label class="label">{{form.quality.label}}</label>
                {{form.quality()}}
            </div>
            <div class="field">
              <label class="label">{{form.note.label}}</label>
              {{form.note(class="textarea")}}
            </div>
            <div class="field">
              {% for subfield in form.not_found %}
              <label class="label">
                {{subfield()}}
                {{subfield.label}}
              </label>
              {% endfor %}
            </div>
          </div>
          <div id="items">
            {% for item_form in form.items.entries %}
            <div class="box">
              {{item_form.hidden_tag()}}
              <div class="field">
                <label class="label">{{item_form.organism.label}}</label>
                <div class="select">
                  {{item_form.organism()}}
                </div>
              </div>
              <div class="field">
                <label class="label">{{item_form.stage.label}}</label>
                <div class="select">
                  {{item_form.stage()}}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="field" id="item_btn">
            <div class="buttons">
              <button class="button is-success"
                      hx-post="{{ url_for('services.add_stool_report_item_entry') }}"
                      hx-target="#items" hx-swap="beforeend">
                <span class="icon">
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span>entry</span>
              </button>
              <button class="button is-danger"
                      hx-post="{{ url_for('services.remove_stool_report_item_entry') }}"
                      hx-target="#items" hx-swap="innerHTML">
                <span class="icon">
                  <i class="fa-solid fa-minus"></i>
                </span>
                <span>remove</span>
              </button>
            </div>
          </div>
          <div class="field">
            <div class="buttons is-centered">
              <a class="button is-light" href="{{ next_url or url_for('services.stool_exam_main', project_id=record.client.project_id)}}">Cancel</a>
              {% if not record.reported_at %}
              <a class="button is-danger" onclick="confirmDelete({{record.id}})">
                <span class="icon">
                  <i class="fa-solid fa-trash-can"></i>
                </span>
                <span>
                  Delete
                </span>
              </a>
              <input class="button is-primary" type="submit" value="Save"/>
              <a class="button is-success" href="{{url_for('services.report_stool_exam_record', record_id=record.id)}}">
                <span class="icon">
                  <i class="fa-solid fa-paper-plane"></i>
                </span>
                <span>
                  Report
                </span>
              </a>
              {% else %}
              {% if current_user.has_admin_role %}
              <a class="button is-success" onclick="confirmCancel({{record.id}})">
                <span class="icon">
                  <i class="fa-solid fa-paper-plane"></i>
                </span>
                <span>
                  Cancel Report
                </span>
              </a>
              {% endif %}
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
  {% if form.not_found.data == 'Not found' %}
  $('#items').hide()
  $('#item_btn').hide()
  {% endif %}
  $('#collection_datetime').daterangepicker({
    singleDatePicker: true,
    timePicker: true,
    showDropdowns: true,
    timePickerIncrement: 15,
    timePicker24Hour: true,
    autoUpdateInput: false,
    {% if record.collection_datetime %}
    startDate: "{{record.collection_datetime.isoformat()}}",
    {% endif %}
    locale: {
      format: 'YYYY-MM-DD HH:mm:ss'
    }
  });
  $('input[name="not_found"]').change(function() {
    let value = $('input[name="not_found"]:checked').val()
    if (value == 'Not found') {
      $('#items').hide()
      $('#item_btn').hide()
    } else {
      $('#item_btn').show()
      $('#items').show()
    }
  })
</script>
<script>
  let confirmDelete = function (rec_id) {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "/services/stool-exam/records/" + rec_id + "/remove"
      }
    })
  }
  let confirmCancel = function (rec_id) {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, cancel it!'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "/services/stool-exam/records/" + rec_id + "/cancel-report"
      }
    })
  }
</script>
{% endblock %}