{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    {% include "messages.html" %}
    <div class="columns">
      <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="{{url_for('services.index', project_id=project_id)}}">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">Stool Examination Main</a></li>
          </ul>
        </nav>
        <h1 class="title has-text-centered">Stool Examination</h1>
        <form method="get">
          <div class="field">
            <input class="input is-medium" name="lab_number" placeholder="Lab Number">
          </div>
          <div class="field">
            <div class="buttons is-centered">
              <a class="button is-light" href="{{url_for('services.index', project_id=project_id)}}">Back</a>
              <input class="button is-primary" type="submit" value="Submit">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <table id="recordTable" class="table is-fullwidth">
          <thead>
          <th>Lab Number</th>
          <th>Client</th>
          <th>Updated by</th>
          <th>Recieved/Updated At</th>
          <th>Results</th>
          <th>Reported By</th>
          <th>Reported Datetime</th>
          <th>Approved By</th>
          <th>Approved Datetime</th>
          <th></th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
  $('document').ready(()=>{
    let BASE_URL = '/services/stool-exam/records/'
    $('#recordTable').DataTable({
      processing: true,
      ajax: {
        url: {{ url_for('services.get_stool_exam_records', project_id=project_id)|tojson|safe }},
      },
      columns: [
        {
          data: "lab_number",
        },
        {
          data: "client"
        },
        {
          data: "updater",
        },
        {
          data: "updated_at",
          render: function (data) {
            return data ? moment(data).format('lll') : ''
          }
        },
        {
          data: "results",
        },
        {
          data: "reporter",
        },
        {
          data: "reported_at",
          render: function (data) {
            return data ? moment(data).format('lll') : ''
          }
        },
        {
          data: "approver",
        },
        {
          data: "approved_at",
          render: function (data) {
            return data ? moment(data).format('lll') : ''
          }
        },
        {
          data: "id",
          render: function (data) {
            return '<a href="' + BASE_URL + data +'" class="has-text-info"><span>ดูข้อมูล</span></a>'
          }
        }
      ]
    })
  })
</script>
{% endblock %}