{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    {% include "messages.html" %}
    <div class="columns">
      <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="{{url_for('services.index')}}">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">Stool Examination Main</a></li>
          </ul>
        </nav>
        <h1 class="title has-text-centered">Stool Examination</h1>
        <form method="get">
          <div class="field">
            <input class="input is-medium" name="lab_number" placeholder="Lab Number">
          </div>
          <div class="field">
            <div class="buttons is-centered">
              <a class="button is-light" href="{{url_for('services.index')}}">Back</a>
              <input class="button is-primary" type="submit" value="Submit">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <table id="recordTable" class="table is-fullwidth">
          <thead>
          <th>Lab Number</th>
          <th>Recieved/Updated At</th>
          <th>Results</th>
          <th>Reported At</th>
          <th></th>
          </thead>
          <tbody>
          {% for record in records %}
          <tr>
            <td>{{record.lab_number}}</td>
            <td>{{record.updated_at|localdatetime}} by {{record.updated_by.firstname}}</td>
            <td>
              {% if record.results == 'Not found' %}
              <span class="tag is-success">
                {{record.results}}
              </span>
              {% else %}
              <span class="has-text-danger">
                {{record.results|itemize(',')}}
              </span>
              {% endif %}
            </td>
            <td>
              {% if record.reported_at %}
              {{record.reported_at|localdatetime}} by {{record.reported_by.firstname}}
              {% endif %}
            </td>
            <td>
              <a href="{{url_for('services.edit_stool_exam_record', record_id=record.id)}}"
              class="button is-light is-primary is-outlined is-small">
                <span class="icon">
                  <i class="fa-solid fa-pencil"></i>
                </span>
                <span>view/edit</span>
              </a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
  $('document').ready(()=>{
    $('#recordTable').DataTable()
  })
</script>
{% endblock %}