{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    {% include "messages.html" %}
    <div class="columns">
      <div class="column is-two-thirds is-offset-2">
        <nav class="panel is-primary">
          <p class="panel-heading">
            Menu
          </p>
          <a class="panel-block is-active" href="{{url_for('services.register_client')}}">
            <span class="panel-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </span>
            <span class="is-size-4">
              Client Registration
            </span>
          </a>
          <a class="panel-block is-active" href="{{url_for('services.list_clients')}}">
            <span class="panel-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </span>
            <span class="is-size-4">
              Client List
            </span>
          </a>
          <a class="panel-block is-active" href="{{url_for('services.physical_exam_profile_main')}}">
            <span class="panel-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </span>
            <span class="is-size-4">
              Physical Examination
            </span>
          </a>
          <a class="panel-block is-active" href="{{url_for('services.health_record_main')}}">
            <span class="panel-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </span>
            <span class="is-size-4">
              Health Records
            </span>
          </a>
          <a class="panel-block is-active" href="{{url_for('services.stool_exam_main')}}">
            <span class="panel-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </span>
            <span class="is-size-4">
              Stool Examination
            </span>
          </a>
          <a class="panel-block is-active" href="{{url_for('services.list_tests')}}">
            <span class="panel-icon">
              <i class="fa-solid fa-chevron-right"></i>
            </span>
            <span class="is-size-4">
              Tests
            </span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock %}