{% extends "base.html" %}

{% block content %}
<section class="hero is-primary is-large">
  <div class="hero-body">
    {% include "messages.html" %}
    <h1 class="title has-text-centered">MUMT Health Camp Information System</h1>
    <div class="buttons is-centered">
      <a class="button is-info" href="{{ url_for('services.projects') }}">Start</a>
      {% if current_user.is_authenticated %}
      <a class="button is-danger" href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
      <a class="button is-success" href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </div>
    <div class="container has-text-centered">
      <p>Developed by Department of Community Medical Technology</p>
      <p>Faculty of Medical Technology, Mahidol University</p>
      <p>2023</p>
    </div>
  </div>
</section>
{% endblock %}